h1,
a {
  color: red;
  text-decoration: wavy;
  font-size: 32px;
  font-weight: bold;
}

h1 {
  color: blue;
  background: lightcoral;
}

p a {
  color: rgba(0, 0, 255, 0.5);
}

#introducao {
  color: purple;
}

.intro {
  color: orange;
}

.codigo .intro {
  color: pink;
}

.azul {
  color: blue;
}

.sublinado {
  text-decoration: underline;
}

.grande {
  font-size: 50px;
}

.blocoRedBlack {
  background: rgb(124, 25, 25);
  width: 150px;
  height: 70px;
  padding: 20px;
  border: 10px solid black;
  margin: 5px;
  transition: background 0.3s;
}

.blocoRedBlack:hover {
  background: green;
  color: white;
}

.marcarBorders {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.respeitaInlineBlock {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
  background: lightblue;
}

.forcarImg {
  width: 400px;
}
