body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: inline-size;
  background: #d17373;
  padding: 10px 20px 30px 40px;
  border: 40px solid rgb(118, 219, 118);
  border-top: 20px solid rgba(0, 0, 255, 1);
  border-bottom: 50px solid orange;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.comprar {
  background: rgb(211, 164, 211);
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background-color: rgb(212, 209, 209);
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
