.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

body {
  font-family: Arial;
  background-color: rgb(184, 176, 205);
}

h1,
p {
  text-align: center;
  margin: 0px;
  display: block;
}

h1 {
  font-size: 40px;
  line-height: auto;
  margin-top: 10px;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;

  border-radius: 4px;
  font-size: 20px;
  display: inline-block;
}

.imagemBike {
  grid-column: 1/-1;
  max-width: 100%;
}

.preco {
  display: inline-block;
  background-color: #ddd;
  border-radius: 4px;
  padding: 5px 10px;
}

.titulo {
  text-align: left;
}

.descricao {
  grid-column: 1 / span 2;
  text-align: justify;
}
